.nav {
  position: fixed;
  /* 위 소스는 움직여도 그자리에서 고정을 시켜준다. styles.css에서 body에 전반적으로 패딩값을 주어도 
  고정된다.*/
  /* 위 소스 사용 시 반드시 width를 사용해야한다. */
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  bottom: 10px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}
.nav .nav__list-link {
  position: relative;
  /* 아래 앱솔루트를 사용하려면 부모클래스에 relative를 사용해야한다. */
}
.nav .nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* 바로위의 코드는 네모박스를 동그랗게 만들어준다
  10px 또는 50%입력시 완전 동그랗게 변한다. */
  font-size: 10px;
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}
.nav {
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.5s;
}
