@import "reset.css";
@import "status-bar.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap");
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";

* {
  box-sizing: border-box;
  /* nav의 아이콘 ...이 보이지 않아 위 소스를 전체에 설정.
 일반 박스에 패딩을 설정한다면
  일반박스값 w:100px h:50px  패딩값 10px을 줄 때
  박스의 총 길이는 w: 120px  h: 70px가 된다
  위의 box-sizing: border-box값을 추가한다면 
  패딩값만큼 박스의 총 길이가 변화하지 않도록 고정시킨다는
  의미이다.*/
}
body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "open sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  /* a는 링크로 모든링크는 부모요소로부터 색을 받아온다는 의미 */
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

main {
  animation: fadeIn 0.5s ease-in-out;
}
